@import url('https://fonts.googleapis.com/css2?family=Quicksand');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
:root {
  --primary-color: #e49e48;
  --background-color: #f7f2ec;
  --accent1-color: #faecdc;
  --accent2-color: #305369;
}
.front-page {
  position: relative;
}
.img-container {
  overflow: hidden;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s ease-in-out;
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
}

.hero-img:hover {
  transform: scale(1.1);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.menu-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content > h2 {
  color: #fff;
  font-size: 52px;
  font-weight: 100;
}

.get-started {
  color: var(--accent2-color);
  background: var(--background-color);
  font-weight: 600;
  padding: 20px 30px;
  transition: padding 0.3s ease-in-out;
}
.get-started:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 20px 35px;
}

.location {
  position: absolute;
  left: 0;
  right: 0;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 70%;
  color: #fff;
}

.arrow {
  padding: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.fa-location-dot {
  color: var(--primary-color);
}

.vertical-line {
  position: absolute;
  bottom: 0;
  border-left: 2px solid #000;
  height: 400px;
  width: 1px;
  color: var(--primary-color);
  z-index: 100;
  transform: translate(-50%, -50%);
}

.pool-content {
  margin: 8%;
}

.pool-content > h1 {
  color: var(--accent2-color);
  font-size: 42px;
  text-align: center;
  margin-bottom: 100px;
}

.pool-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 100px; */
}
.pool-container {
  overflow: hidden;
  width: 500px;
  height: 600px;
  /* width: 50%; */
}

.pool-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
}

.pool-img:hover {
  transform: scale(1.1);
}

.heritage {
  width: 45%;
}

.heritage > h2 {
  color: var(--primary-color);
}

.heritage > h3 {
  color: var(--accent2-color);
  font-size: 35px;
}

.heritage > p {
  color: var(--accent2-color);
  font-size: 20px;
  font-weight: 600;
  width: 90%;
  padding-bottom: 20px;
}

.learn-more {
  padding: 10px 20px;
  color: var(--accent2-color);
  border: 1px solid #305369;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.learn-more:hover {
  background-color: #fff;
  border: none;
}

.experience-section {
  margin: 8%;
}
.royal-experience {
  text-align: center;
}

.royal-experience > h2 {
  color: var(--primary-color);
}
